// *************************************
//
//   Button
//   -> Large clickable links
//
// *************************************

.button
  border-radius: $b-borderRadius
  display: block
  margin-bottom: ($b-space * 0.35)
  padding: ($b-space * 0.1)
  text-align: center

// -------------------------------------
//   Modifiers
// -------------------------------------

.button--s
  margin: 0 auto
  max-width: 250px

// -------------------------------------
//   States
// -------------------------------------

// .mv-module.is-state

// -------------------------------------
//   Context
// -------------------------------------

// .has-mv-module

// -------------------------------------
//   Submodules
// -------------------------------------

// .mv-module-submodules
