// *************************************
//
//   Card  
//   -> Content container 
//
// *************************************

.card
  background: white
  border-radius: 15px
  box-shadow: rgba(black, 0.125) 0 50px 125px
  display: flex
  flex-flow: column nowrap
  margin: auto
  max-width: $b-maxWidth
  overflow: hidden
  +respond-to($g-m)
    flex-flow: row nowrap

// -------------------------------------
//   Modifiers
// -------------------------------------

// .mv-module--modifier

// -------------------------------------
//   States
// -------------------------------------

// .mv-module.is-state

// -------------------------------------
//   Context
// -------------------------------------

// .has-mv-module

// -------------------------------------
//   Submodules
// -------------------------------------

.card-content
  flex-grow: 1
  padding: ($b-space * 1.5)
    top: ($b-space * 2)
  +respond-to($g-m)
    padding: ($b-space * 3)
      left: ($b-space * 4)

.card-image
  background: url('/assets/images/profile.jpg')
    position: center center
    size: cover
  flex-shrink: 0
  height: 300px
  position: relative
  +respond-to($g-m)
    height: auto
    width: 250px
  &::after,
  &::before
    position: absolute
  &::after
    color: $yellow
    content: 'W'
    font-family: $t-fontFamily-heading
    font-size: 10rem
    font-style: normal
    left: auto
    line-height: 1
    opacity: 0.925
    right: ($b-space * 2)
    top: calc(100% - #{$b-space * 3})
    +respond-to($g-m)
      font-size: 13.5rem
      left: 100%
      right: auto
      top: 50%
      transform: translate(-50%, -50%)
  &::before
    background-image: repeating-linear-gradient(-45deg, rgba($gray-light, 0) 0px, rgba($gray-light, 0) 10px, rgba($gray-light, 1) 10px, rgba($gray-light, 1) 20px)
    content: ''
    height: ($b-space * 0.75)
    left: 0
    right: 0
    top: 100%
    +respond-to($g-m)
      bottom: 0
      height: auto
      left: 100%
      top: 0
      width: 25px

