// *************************************
//
//   Heading
//   -> Heading replacement styles
//
// *************************************

.heading
  font-weight: 600
  line-height: 1.15
  margin: 0
  +respond-to($g-s)
    text-align: center

// -------------------------------------
//   Modifiers
// -------------------------------------

.heading--xl
  font-size: ($t-fontSize * 3.5)
  margin-bottom: ($b-space * 0.25)

// -------------------------------------
//   States
// -------------------------------------

// .mv-module.is-state

// -------------------------------------
//   Context
// -------------------------------------

// .has-mv-module

// -------------------------------------
//   Submodules
// -------------------------------------

// .mv-module-submodules
