// *************************************
//
//   Media
//   -> Images for long form content
//
// *************************************

.media
  display: block
  margin: 0 auto ($b-space * 0.5)
  max-width: 400px

// -------------------------------------
//   Modifiers
// -------------------------------------

.media--s
  max-width: 200px

// -------------------------------------
//   States
// -------------------------------------

// .mv-module.is-state

// -------------------------------------
//   Context
// -------------------------------------

// .has-mv-module

// -------------------------------------
//   Submodules
// -------------------------------------

// .mv-module-submodules
