// *************************************
//
//   Row
//   -> Full width container
//
// *************************************

.row
  background: darken(white, 3%)
  background-image: linear-gradient(to right, white, darken(white, 5%) 45%, darken(white, 5%) 55%, white)
  overflow: hidden
  position: relative

// -------------------------------------
//   Modifiers
// -------------------------------------

.row--ivy
  background: $c-purple-2
  background-image: linear-gradient(to bottom right, $c-purple-4, $c-purple-3, $c-purple-2 80%, $c-purple-1)
  background-position: fixed
  color: white

// -------------------------------------
//   States
// -------------------------------------

// .mv-module.is-state

// -------------------------------------
//   Context
// -------------------------------------

// .has-mv-module

// -------------------------------------
//   Submodules
// -------------------------------------

// .mv-module-submodules
