// *************************************
//
//   Row
//   -> Full width container
//
// *************************************

.row
  background: darken(white, 3%)
  background-image: linear-gradient(to right, white, darken(white, 5%) 45%, darken(white, 5%) 55%, white)
  overflow: hidden
  position: relative

// -------------------------------------
//   Modifiers
// -------------------------------------

// .mv-module--modifier

// -------------------------------------
//   States
// -------------------------------------

// .mv-module.is-state

// -------------------------------------
//   Context
// -------------------------------------

// .has-mv-module

// -------------------------------------
//   Submodules
// -------------------------------------

// .mv-module-submodules
