// *************************************
//
//   Well
//   -> Vertical spacing
//
// *************************************

.well
  margin-bottom: $b-space
  margin-top: $b-space

// -------------------------------------
//   Modifiers
// -------------------------------------

.well--hero
  margin-bottom: ($b-space * 3.5)
  margin-top: ($b-space * 1.5)
  +respond-to($g-s)
    margin-bottom: ($b-space * 5.25)
    margin-top: ($b-space * 2.25)

.well--s
  margin-bottom: ($b-space * 0.5)
  margin-top: ($b-space * 0.5)

.well--l
  margin-bottom: $b-space
  margin-top: $b-space
  +respond-to($g-s)
    margin-bottom: ($b-space * 2)
    margin-top: ($b-space * 2)

// -------------------------------------
//   States
// -------------------------------------

// .mv-module.is-state

// -------------------------------------
//   Context
// -------------------------------------

// .has-mv-module

// -------------------------------------
//   Submodules
// -------------------------------------

// .mv-module-submodules
