// *************************************
//
//   Work
//   -> Linked images and text
//
// *************************************

.work
  background: none
  color: $c-navy
  text-align: center
  img
    border: 2px solid white
    border-radius: $b-borderRadius
    box-shadow: 0 0 0 1px $c-blue-light
    margin-bottom: ($b-space * 0.25)
  p
    font-size: 0.6rem

// -------------------------------------
//   Modifiers
// -------------------------------------

// .mv-module--modifier

// -------------------------------------
//   States
// -------------------------------------

// .mv-module.is-state

// -------------------------------------
//   Context
// -------------------------------------

// .has-mv-module

// -------------------------------------
//   Submodules
// -------------------------------------

// .mv-module-submodules
