// *************************************
//
//   MVCSS v5
//   -> Manifest (http://mvcss.io)
//
// *************************************

// -------------------------------------
//   Foundation
// -------------------------------------

@import "foundation/reset"
@import "foundation/helpers"
@import "foundation/config"
@import "foundation/base"

// -------------------------------------
//   Modules
// -------------------------------------

@import "modules/hero"
@import "modules/profile"

// -------------------------------------
//   Vendor
// -------------------------------------

// Third-party style imports, if needed

// -------------------------------------
//   Foundation - Tools
// -------------------------------------

@import "foundation/tools"

// -------------------------------------
//   Inbox
// -------------------------------------

.wrapper
  background: white
  border-radius: 15px
  box-shadow: rgba(black, 0.25) 0 5px 75px
  margin: $b-space
  overflow: hidden
