// *************************************
//
//   MVCSS v5
//   -> Manifest (http://mvcss.io)
//
// *************************************

// -------------------------------------
//   Foundation
// -------------------------------------

@import "foundation/reset"
@import "foundation/helpers"
@import "foundation/config"
@import "foundation/base"

// -------------------------------------
//   Modules
// -------------------------------------

@import "modules/card"

// -------------------------------------
//   Vendor
// -------------------------------------

// Third-party style imports, if needed

// -------------------------------------
//   Foundation - Tools
// -------------------------------------

@import "foundation/tools"

// -------------------------------------
//   Inbox
// -------------------------------------

.wrapper
  display: flex
  height: 100vh
  overflow-y: scroll
  padding: $b-space
  width: 100%
