{% extends "layout.html" %}
{% block content %}

<div class="wrapper">
  <div class="hero">
    <div class="profile well">
      <div class="profile-image">
        <img src="/assets/images/profile.jpg" />
      </div>
      <p>John Wilson</p>
    </div>

    <div class="tagline well well--hero"> 
      <h1 class="heading heading--xl">Designer &amp; Developer</h1>
      <div class="cell cell--s">
        <p>Serving business and startups by designing and creating websites with&nbsp;code.</p>
      </div>
    </div>  
    
    <img class="hero-stars" src="/assets/images/stars.png" />
    <div class="planet">
      <div class="planet-glow"></div>
      <div class="planet-eclipse"></div>
      <div class="planet-main">
        <div class="planet-main-peek"></div>
      </div>
      <div class="planet-flare"></div>
    </div>
    <svg class="hero-transition" viewBox="0 0 1120 98" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <defs>
        <path d="M0 541.883s300 89.5 600 89.5 600-89.5 600-89.5V650H0V541.883z" id="a"/>
      </defs>
      <use fill="#FFF" xlink:href="#a" transform="translate(-40 -552)" fill-rule="evenodd"/>
    </svg>
  </div>

  <div class="cell">
    <h2 class="heading heading--center heading--l">About</h2>
    <p>Howdy! My name is John Wilson. I’m a moonlighting freelance designer and developer who works out of sweltering Orlando. I most enjoy spending time behind my computer by serving smaller businesses and startups. Specifically, I love helping these organizations by designing and creating websites to help promote their products and services. I use a pencil and Sketch for designing and Ruby and/or Javascript for front-end and back-end development.</p>
    
    <h2 class="heading heading--center heading--l">Work</h2>
    <p>Throughout the past few years, I have worked with both large enterprise organizations like Cisco as well as smaller organizations like Barna and Ligonier Ministries.</p>

    <h2 class="heading heading--center heading--l">Availability</h2>
    <p>I tend to work best with quick turnaround projects that last just a couple of weeks. In the spirit of transparency: the most ideal projects are marketing sites with pre-written content, UX/UI redesigns and front-end buildouts. I book my time in 2 week blocks (pre-paid, starting at $1,500).</p>
    <p>Have a project that I could help with? <a href="mailto:john@j-wilson.com">Let’s chat!</a></p>

    <h2 class="heading heading--center heading--l">Contact</h2>
    <p>I don’t tend to write much, I usually end up staying focused on doing good work and spending time with family. With that said, I’m fairly active on the following platforms:</p>
  </div>
</div>

{% endblock %}
