{% extends "layout.html" %}
{% block content %}

<div class="wrapper">
  <div class="card">
    <div class="card-image"></div>
    <div class="card-content">
      <h1>John Wilson <small><a href="mailto:john@j-wilson.com">john@j-wilson.com</a></small></h1>
      <p>User interface and experience design using paper&nbsp;&amp;&nbsp;pencil and occasionaly Sketch. Web development using javascript and ruby frameworks. Husband &amp; father. Thinker&nbsp;&amp;&nbsp;follower.</p>
      <hr />
      <h2>Selected Projects</h2>
      <ol>
        <li><a href="http://thestateoftheology.com">The State of Theology</a></li>
        <li><a href="http://ivyapp.com">Ivy</a>&nbsp;&nbsp;<span>|</span>&nbsp;&nbsp;<a href="http://barna.org">Barna</a></li>
      </ol>
    </div>
  </div>
</div>

{% endblock %}
