{% extends "layout.html" %}
{% block content %}

<div class="wrapper">
  <div class="hero">
    <div class="hero-stars">
      <svg height="1500" width="1500">
        {% for i in range(0, 120) %}
          <circle cx="750" cy="750" r="{{ i * 8 }}" fill="transparent" />
        {% endfor %}
      </svg>
    </div>
    <div class="planet">
      <div class="planet-glow"></div>
      <div class="planet-eclipse"></div>
      <div class="planet-main">
        <div class="planet-main-peek"></div>
      </div>
      <div class="planet-flare"></div>
    </div>
    <svg class="hero-transition" viewBox="0 0 1120 98" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <defs>
        <path d="M0 541.883s300 89.5 600 89.5 600-89.5 600-89.5V650H0V541.883z" id="a"/>
      </defs>
      <use fill="#FFF" xlink:href="#a" transform="translate(-40 -552)" fill-rule="evenodd"/>
    </svg>

    <a class="profile well" href="/">
      <div class="profile-image">
        <img src="/assets/images/profile.jpg" />
      </div>
      <p>John Wilson</p>
    </a>

    <div class="tagline well well--hero"> 
      <h1 class="heading heading--xl">Designer&nbsp;&amp; Developer</h1>
      <div class="cell cell--s">
        <p>Serving business and startups by designing and creating websites with&nbsp;code.</p>
      </div>
    </div>  
  </div>

  {% include 'nav.html' %}

  <div class="cell well well--l">
    <h2 class="heading heading--center heading--l">About</h2>
    <p>Howdy! My name is John Wilson. I’m a moonlighting freelance designer and developer who works out of sweltering Orlando. I most enjoy spending time behind my computer by serving smaller businesses and startups. Specifically, I love helping these organizations by designing and creating websites to help promote their products and services. I use a pencil and Sketch for designing and Ruby and/or Javascript for front-end and back-end development.</p>
  </div>
    
  <div class="row">
    <div class="well">
      <div class="cell">
        <h2 class="heading heading--center heading--l">Work</h2>
        <p>Throughout the past few years, I have worked with both large enterprise organizations like Cisco as well as smaller organizations like Barna and Ligonier Ministries.</p>
      </div>
      <div class="cell cell--m">
        <div class="g">
          <div class="g-b g-b--12of12 g-b--m--6of12">
            <a class="work" href="http://ivyapp.com" target="_blank">
              <img src="/assets/images/work-ivy.png" />
              <h3 class="heading">Ivy &ndash; Online Training</h3>
              <p>Marketing Site &amp; Interface</p>
            </a>
          </div>
          <div class="g-b g-b--12of12 g-b--m--6of12">
            <a class="work" href="http://thestateoftheology.com" target="_blank">
              <img src="/assets/images/work-theology.png" />
              <h3 class="heading">The State of Theology</h3>
              <p>Data Visualization</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="cell">
    <h2 class="heading heading--center heading--l">Availability</h2>
    <p>I tend to work best with quick turnaround projects that last just a couple of weeks. In the spirit of transparency: the most ideal projects are marketing sites with pre-written content, UX/UI redesigns and front-end buildouts. I book my time in 2 week blocks (pre-paid, starting at $1,500).</p>
    <p>Have a project that I could help with? <a href="mailto:john@j-wilson.com">Let’s chat!</a></p>

    <h2 class="heading heading--center heading--l">Contact</h2>
    <p>I don’t tend to write much, I usually end up staying focused on doing good work and spending time with family. With that said, I’m fairly active on the following platforms:</p>
    <div class="g g--s">
      <div class="g-b g-b--12of12 g-b--s--4of12">
        <a class="button" href="http://dribbble.com/jhnwlsn">Dribbble</a>
      </div>
      <div class="g-b g-b--12of12 g-b--s--4of12">
        <a class="button" href="http://behance.net/jhnwlsn">Behance</a>
      </div>
      <div class="g-b g-b--12of12 g-b--s--4of12">
        <a class="button" href="mailto:john@j-wilson.com">Email</a>
      </div>
    </div>
  </div>

  <footer class="footer">
    <p>This site isn’t much but don’t steal, pretty please.</p>
  </footer>
</div>


{% endblock %}
