{% extends "layout.html" %}
{% block content %}

<div class="wrapper">
  <div class="hero hero--ivy">
    <svg class="hero-transition" viewBox="0 0 1120 98" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <defs>
        <path d="M0 541.883s300 89.5 600 89.5 600-89.5 600-89.5V650H0V541.883z" id="a"/>
      </defs>
      <use fill="#FFF" xlink:href="#a" transform="translate(-40 -552)" fill-rule="evenodd"/>
    </svg>

    <a class="profile well" href="/">
      <div class="profile-image">
        <img src="/assets/images/profile.jpg" />
      </div>
      <p>John Wilson</p>
    </a>

    <div class="tagline well well--l"> 
      <h1 class="heading heading--xl">Ivy</h1>
      <div class="cell cell--s">
        <p>Made with Envy in 2015-2016</p>
      </div>
    </div>  
  </div>
  
  {% include 'nav.html' %}

  <div class="cell well well--l">
    <h2 class="heading heading--center heading--l">Background</h2>
    <p>Ivy is an online publishing and interactive training platform. Everyone from startups to large enterprises can use Ivy to create their own technical courses. Throughout 2015 and 2016, I designed and developed the <a href="http://ivyapp.com">marketing site</a> and was a designer for the "player" layer of the platform.</p>
    <img src="/assets/images/work-ivy-shield.jpg" class="media media--s mb025" />
    <small class="caption">Ivy's main logo</small>
    <p>The concept for Ivy was born out of Envy's successes with Code&nbsp;School. Online learning was becoming an important part of the tech industry, and Envy found itself building a similar concept over-and-over again based off of Code&nbsp;School. Thus, creating a reusable platform would decrease client's costs while increase Envy's productivity.</p>
  </div>
  <div class="row">
    <div class="cell well well--l">
      <h2 class="heading heading--center heading--l">Longform Content</h2>
      <p>Taking cues from both Code School and several other previous clients, we decided to build the structure for a single course around longform formatted content. By formatting the content into this structure, it limits unneccessary interuptions and  helps the learner stay focused and truly learn from what is being communicated.</p>
    </div>
  </div>
  <div class="row row--ivy">
    <div class="cell well well--l">
      <h2 class="heading heading--center heading--l">Interactive Console</h2>
      <p>Ivy is an online publishing and interactive training platform. Everyone from startups to large enterprises can use Ivy to create their own technical courses. Throughout 2015 and 2016, I designed and developed the <a href="http://ivyapp.com">marketing site</a> and was a designer for the "player" layer of the platform.</p>
      <p>Ivy is an online publishing and interactive training platform. Everyone from startups to large enterprises can use Ivy to create their own technical courses. Throughout 2015 and 2016, I designed and developed the <a href="http://ivyapp.com">marketing site</a> and was a designer for the "player" layer of the platform.</p>
    </div>
  </div>
  <div class="cell well well--l">
    <h2 class="heading heading--center heading--l">User Encouragement</h2>
  </div>

  {% include 'footer.html' %}
</div>

{% endblock %}
