{% extends "layout.html" %}
{% block content %}

<div class="wrapper">
  <div class="hero hero--ivy">
    <svg class="hero-transition" viewBox="0 0 1120 98" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <defs>
        <path d="M0 541.883s300 89.5 600 89.5 600-89.5 600-89.5V650H0V541.883z" id="a"/>
      </defs>
      <use fill="#FFF" xlink:href="#a" transform="translate(-40 -552)" fill-rule="evenodd"/>
    </svg>

    <a class="profile well" href="/">
      <div class="profile-image">
        <img src="/assets/images/profile.jpg" />
      </div>
      <p>John Wilson</p>
    </a>

    <div class="tagline well well--l"> 
      <h1 class="heading heading--xl">Ivy</h1>
      <div class="cell cell--s">
        <p>Made with Envy in 2015-2016</p>
      </div>
    </div>  
  </div>
  
  {% include 'nav.html' %}

  <div class="cell well well--l">
    <h2 class="heading heading--center heading--l">Background</h2>
    <p>Ivy is an online publishing and interactive training platform. Everyone from startups to large enterprises can use Ivy to create their own technical courses. Throughout 2015 and 2016, I designed and developed the <a href="http://ivyapp.com">marketing site</a> and was a designer for the "player" layer of the platform.</p>
    <p>The concept for Ivy was born out of Envy's successes with Code&nbsp;School. Online learning was becoming an important part of the tech industry, and Envy found itself building a similar concept over-and-over again based off of Code&nbsp;School. Thus, creating a reusable platform would decrease client's costs while increase Envy's productivity.</p>
  </div>
  <div class="row">
    <div class="well well--l">
      <div class="cell">
        <h2 class="heading heading--center heading--l">Longform Content</h2>
        <p class="mb1">Taking cues from both Code School and several other previous clients, we decided to build the structure for a single course around longform formatted content.</p>
      </div>
      <div class="cell cell--m">
        <video class="media media--video" controls>
          <source src="/assets/videos/sample.mp4" type="video/mp4">
        </video>
      </div>
      <div class="cell">
        <p>By formatting the content into this structure, it limits unneccessary interuptions and helps the student stay focused and truly learn and retain from what is being communicated. Upon entering the course through the table of contents, the student is presented with an interface that is both clean and non-distracting, which allows them to focus on the course.</p>
        <!-- <p class="tac">[ video: interface without console ]</p> -->
      </div>
    </div>
  </div>
  <div class="row row--ivy">
    <div class="well well--l">
      <div class="cell">
        <h2 class="heading heading--center heading--l">Interactive Console</h2>
        <p class="mb1">Where the real value of Ivy exists is in the interactive coding console. It allows students to create and test code all while remaining in their browser.</p>
      </div>
      <div class="cell cell--m">
        <video class="media media--video" controls>
          <source src="/assets/videos/sample.mp4" type="video/mp4">
        </video>
      </div>
      <div class="cell">
        <p>While the student is reading the longform content, eventually they will come to a new section of content that signifies an interacitve console challenge made up of tasks. Once the user intializes the challenge, the console simply slides in and is ready to use, keeping the interface simple and easy to understand.</p>
        <!-- <p class="tac">[ video: interface with console sliding in ]</p> -->
      </div>
    </div>
  </div>
  <div class="well well--l">
    <div class="cell">
      <h2 class="heading heading--center heading--l">Final Encouragement</h2>
      <p class="mb1">Once a student has completed any task or challenge, we needed to tie it all together and keep the user engaged until the very end of the course. We did this in two ways: gifting points and positive messaging for successfully completed tasks and challenges. While the points within Ivy don't mean much outside of an integer, they can easily be tied into any external pipeline just as the rest of Ivy's features.</p>
      <!-- <p class="tac">[ close up video of improved task animation ]</p> -->
    </div>
    <div class="cell cell--m">
      <video class="media media--video" controls>
        <source src="/assets/videos/sample.mp4" type="video/mp4">
      </video>
    </div>
  </div>
  <div class="cell well well--l">
    <div class="callout">
      <p>Have a similar project and ready to get to work?</p>
      <a class="button button--s" href="mailto:john@j-wilson.com">Let's Chat!</a>
    </div>
  </div>

  {% include 'footer.html' %}
</div>

{% endblock %}
