{% extends "layout.html" %}
{% block content %}

<div class="wrapper">
  <div class="hero hero--ivy">
    <svg class="hero-transition" viewBox="0 0 1120 98" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <defs>
        <path d="M0 541.883s300 89.5 600 89.5 600-89.5 600-89.5V650H0V541.883z" id="a"/>
      </defs>
      <use fill="#FFF" xlink:href="#a" transform="translate(-40 -552)" fill-rule="evenodd"/>
    </svg>

    <a class="profile well" href="/">
      <div class="profile-image">
        <img src="/assets/images/profile.jpg" />
      </div>
      <p>John Wilson</p>
    </a>

    <div class="tagline well well--l"> 
      <h1 class="heading heading--xl">Ivy</h1>
      <div class="cell cell--s">
        <p>Made with Envy in 2015-2016</p>
      </div>
    </div>  
  </div>
  
  <div class="cell">
    <h2 class="heading heading--center heading--l">Background</h2>
    <p>After the success of Code School at <a href="http://madewithenvy.com">Envy</a>, we decided to create a similar tool that would allow businesses and ocorporations of any size to create their own technical training courses.</p>
  </div>
</div>

{% endblock %}
